# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
.vite/

# Datasets (DO NOT COMMIT)
backend/datasets_csv/
*.csv
*.json

# Docker volumes
pgdata/
qdrant_storage/
final_images/

# OS
.DS_Store
backend/user_uploads/